In [1]:
import pandas as  pd

In [19]:
df = pd.read_csv('/scratch2/geraldenemunsamy/carbonic_anhydrase/sequence_selection/clustering_ncbi/blast_ncbi_30_clusterreps.csv')

In [20]:
df = df.rename(columns = {'4.2.1.1_1006_14' : 'ID','60.0': 'seqid' })

In [21]:
df

                        ID      BBX84867.1  seqid  99.5       1.1e-62
0          4.2.1.1_1006_14      PTR40073.1   60.5  99.5  2.500000e-62
1          4.2.1.1_1006_14  WP_112553880.1   58.0  99.5  9.600000e-62
2          4.2.1.1_1006_14  WP_011731025.1   57.8  99.5  1.300000e-61
3          4.2.1.1_1006_14  WP_090279706.1   58.0  99.5  1.600000e-61
4          4.2.1.1_1006_14  WP_068199178.1   58.0  99.5  2.100000e-61
...                    ...             ...    ...   ...           ...
298454663   4.2.1.1_2976_6    MCC8071606.1   34.2  29.9  1.500000e-02
298454664   4.2.1.1_2976_6  WP_007575114.1   20.9  67.5  2.000000e-02
298454665   4.2.1.1_2976_6      VEI45483.1   50.0  12.8  3.400000e-02
298454666   4.2.1.1_2976_6      TMQ57291.1   38.9  15.4  1.700000e-01
298454667   4.2.1.1_2976_6    MCA9590588.1   57.1   9.0  8.400000e-01

[298454668 rows x 5 columns]

In [22]:
#sequences that have greater than 60% identity 
df_selected = df.loc[(df['seqid'] >=60)]

In [23]:
#get unique list of sequences that had less than 60% sequence identity 
unique_60 = df.loc[~df['ID'].isin(df_selected['ID']), 'ID'].unique()

In [24]:
#total number of unique sequences that have less than 60% seq identity 
unique_60.size

1494

In [25]:
import numpy as np
np.savetxt('/scratch2/geraldenemunsamy/carbonic_anhydrase/sequence_selection/clustering_ncbi/final_list_hits_25_01_23.csv', unique_60,  newline = "\n", fmt="%s")